.article-header{
  display: inline-flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 100px;
}

.article-section{

  justify-content: center;
  width: 60%;
  margin: auto;
}


.add-comment {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid #7550EC;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  height: 100px;
  width: 90%;

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #333;
    padding: 0.25rem 0.5rem;
  }
  .comment-field {
    flex: 1;
    margin-right: 0;
    width: 100%;// pour coller le bouton
  }

  .mat-form-field-wrapper {
    padding-right: 0; // évite du vide inutile
  }

  .send-btn {
    right: -20px; // décalage pour le sortir du champ
    bottom: 10px;
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    background-color: #e91e63;
    color: white;

    &:hover {
      background-color: #d81b60;
    }

    mat-icon {
      font-size: 20px;
    }
  }

}
