<mat-card class="articleCard"
          (click)="goToArticle(article.id)">
  <mat-card-header>
    <mat-card-title>
      <span>{{ article.title | titlecase }}</span>
    </mat-card-title>
    <mat-card-subtitle class="articleMeta">
      <span>Date : {{ article.createdAt | date:'fullDate':'fr' }}</span>
      <span class="author">Auteur : {{ article.authorUsername | titlecase }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="articleContent">
    <span>{{ article.content }}</span>
  </mat-card-content>
</mat-card>
