:host {
  display: block;  /* OK */
  width: 100%;
  height: 100%;
  /* surtout PAS: grid-column: 1 / -1; */
}
.matcardAction{
  display: flex;
  justify-content: center;
}
.articleCard{
  background-color: rgb(245,245,245);
  cursor: pointer;
}
