<section style="margin-top: 50px">
  <button mat-icon-button routerLink="" style="margin: 50px 0 0 10%">
    <mat-icon>arrow_back</mat-icon>
  </button>
</section>

<section style="padding: 5% 10%; justify-content: center">
  <ng-container>
    <mat-card>
      <mat-card-header style="justify-content: center">
        <mat-card-title>
          <span>Inscription</span>
        </mat-card-title>
      </mat-card-header>

      <!-- onSubmit UNIQUEMENT ici -->
      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content style="justify-content: center">

          <div style="text-align: center">
            <mat-form-field appearance="outline" style="justify-content: center">
              <input
                matInput
                placeholder="Nom d'utilisateur"
                formControlName="username"
              />
            </mat-form-field>
          </div>

          <div style="text-align: center">
            <mat-form-field appearance="outline" style="justify-content: center">
              <input
                matInput
                type="email"
                placeholder="Adresse email"
                formControlName="email"
              />
            </mat-form-field>
          </div>

          <div style="text-align: center">
            <mat-form-field appearance="outline">
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Mot de passe"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>
                  {{ hide ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- 🧱 Espace réservé pour le message d’erreur -->
          <div style="text-align: center; min-height: 40px; margin-top: 5px; margin-bottom: 10px;">
            <mat-error  *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="error-message">
              {{ passwordError }}
            </mat-error>
          </div>

          <div style="text-align: center">
            <button mat-raised-button color="primary" type="submit">
              S'inscrire
            </button>
          </div>
        </mat-card-content>

        <mat-error *ngIf="onError" class="error">An error occurred</mat-error>
      </form>
    </mat-card>
  </ng-container>
</section>
