<section class="comment-section" *ngIf="comment as c">
  <div class="comment" style="margin-bottom: 20px">
    <div class="comment-row">
      <div class="comment-user">
        {{ author?.username || 'Utilisateur inconnu' }}
      </div>
      <div class="comment-bubble">
        <p class="comment-content">
          {{ c.content }}
        </p>
        <span class="comment-date">
          {{ c.createdAt | date:"EE d MMMM yyyy 'à' HH:mm":'fr' }}
        </span>
      </div>
    </div>
  </div>
</section>
